@charset "UTF-8";

header {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	border-bottom: 2px solid grey;
	margin-bottom: 2rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.nav-btn {
	border: none;
	background-color: white;
	
	box-shadow: 5px 5px 0px 0px black, 
				1px 1px 3px 0px black;
	
	padding: 10px 20px;
	cursor: pointer;
}