@charset "UTF-8";

header {
	padding: 1rem 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 2rem;
	
	background-color: var(--clr-bg-header);
}

nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

/* Making a menu drop-down */
.menu-btn {
	border: 2px solid var(--clr-border-menu-btn);
	background-color: var(--clr-bg-menu-btn);
	color: var(--clr-text-menu-btn);
	font-weight: 600;
	
	transition: all 0.2s ease-in-out;
	
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.menu-btn > .menu-icon {
	font-size: 1.5rem;
	display: none;
}

.menu-btn:hover {
	background-color: var(--clr-bg-menu-btn-hover);
	color: var(--clr-text-menu-btn-hover);
	transition: all 0.2s ease-in-out;
}

.active {
	background-color: var(--clr-bg-menu-btn-active);
	color: var(--clr-text-menu-btn-active);
}

.menu-item-list {
	position: absolute;
	top: 3.4rem;
	right: 1rem;
	
	z-index: 20;
}

.hide {
	display: none;
}

.menu-item-list > section {
	border-bottom: 1px solid var(--clr-border-menu-section);
}

.menu-item {
	border-bottom: 1px solid var(--clr-border-menu-item);
	background-color: var(--clr-bg-menu-item);
	color: var(--clr-text-menu-item);
	
	font-weight: bold;
	
	padding: 1.25rem 2rem;
	cursor: pointer;
	
	transition: background-color 0.2s ease-in-out;
}

.menu-item:hover {
	background-color: var(--clr-bg-menu-item-hover);
	transition: background-color 0.2s ease-in-out;
}


@media (max-width: 360px) {
	.menu-btn > .menu-icon {
		display: inline;
	}
	
	.menu-btn > .menu-label {
		display: none;
	}
	
	.menu-btn {
		padding: 0.1rem 0.6rem;
	}
}