@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	padding: 1rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.noteSection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* note card*/
.card {
	border: 2px solid black;
	border-radius: 8px;
	margin: 1rem;
	
	width: 250px;
	height: auto;
	flex-grow: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* also a note card, but slightly different style */
#add-new-note {
	justify-content: center;
	align-items: center;
	min-height: 200px;
	cursor: pointer;
}

/* note content with heading and paragraph */
.noteContent {
	padding: 1rem 0.75rem;
	cursor: pointer;
}

.noteContent>h3 {
	padding-bottom: 1rem;
}
.noteContent>p {
	align-self: start;
	text-align: justify;
	
	height: 200px;
	overflow: hidden;
}

/* note footer with time and actions */
.noteFooter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	color: #707070;
	border-top: 2px solid black;
	
	padding: 0 0.75rem;
}

.noteDelete {
	color: black;
	padding: 0.2rem 0.6rem;
	margin: 1rem 0;
	
	border: 1px solid black;
	cursor: pointer;
}