@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	padding: 1rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.noteSection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* note card*/
.card {
	border-radius: 8px;
	margin: 1rem;
	
	width: 250px;
	height: auto;
	flex-grow: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	box-shadow: 3px 3px 0px 0px black, 
				-1px -1px 3px 0px grey;
}

/* also a note card, but slightly different style */
#add-new-note {
	justify-content: center;
	align-items: center;
	min-height: 200px;
	cursor: pointer;
}

/* Add to/Remove from favorites button */
.favoritesBtn {
	text-align: right;
	padding: 0.5rem;
}

.favoritesBtn > img {
	cursor: pointer;
}

/* note content with heading and paragraph */
/*maxheight and overflow are now shifted from .noteContent>p to .noteContent
This is done, because otherwise when the title is large and content is small,
there is a large amount of space other notes with small title and large content
as p had the maxheight. Now, both h3 and p have the max-height together.
*/
.noteContent {
	position: relative;
	padding: 1rem 0.75rem;
	cursor: pointer;
	flex-grow: 1;
	
	max-height: 412px;
	overflow: hidden;
}

/* Blur effect for excess text */
.noteContent::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0),
					rgba(255, 255, 255, 1)
				);
}

.noteContent>h3 {
	padding-bottom: 1rem;
}
.noteContent>p {
	align-self: start;
	text-align: justify;
}

/* note footer with time and actions */
.noteFooter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	color: #707070;
	
	padding: 0 0.75rem;
}

.noteDelete {
	color: black;
	/* padding: 0.2rem 0.6rem; */
	margin: 1rem 0;
	/*
	border: 1px solid black;
	*/
	cursor: pointer;
}